#vaszon1, #vaszon2 {
    border: 1px solid darkblue; 
    border-radius: 5px;
    align-self: center;
    margin: auto;
}
/* #szabalyzat {
    display: none;
} */
#szabalyzat {
    width: 80%;
    border: 2px solid darkblue;
    text-align: justify;
    padding: 20px;
    margin: auto;
}

#viewport {
    /**
     * Position relative so that canvas elements
     * inside of it will be relative to the parent
     */
    position: relative;
}

#viewport canvas {
    /**
     * Position absolute provides canvases to be able
     * to be layered on top of each other
     * Be sure to remember a z-index!
     */
    position: absolute;
}

canvas {
    /**
     * Set transparent to let any other canvases render through
     */
    background-color: transparent;
}

#ter {
    display: flex;
    flex-flow: row;
    flex: 0 0 700px;
    margin: 10px;
}

#viewport {
    flex: 0 0 700px;
}

body {
    display: flex;
    flex-direction: column;
}

body > * {
    padding: 10px;
    margin: auto;
}

#jatekosAdatok {
    padding: 20px;
    /* display: flex;
    flex-direction: column; */
}

#blue {
    background-color: rgba(0, 0, 255, 0.315);
    border: 2px solid blue;
    padding: 6px;
    margin: 10px 0px;
}

#red {
    background-color: rgba(255, 0, 0, 0.39);
    border: 2px solid red;
    padding: 6px;
    margin: 10px 0px;
}

#green {
    background-color: rgba(0, 128, 0, 0.342);
    border: 2px solid green;
    padding: 6px;
    margin: 10px 0px;
}

#orange {
    background-color: rgba(255, 166, 0, 0.336);
    border: 2px solid orange;
    padding: 6px;
    margin: 10px 0px;
}

img {
    height: 94px;
}

#jatekosAdatok {
    height: 700px;
}